@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
  background-image: url("../images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 20rem 45%;
}

@media (max-width: 770px) {
  #hero {
    background-image: url("../images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 0%;
  }
}

@media (max-width: 620px) {
  #hero {
    background-position: 10% -3.125rem;
  }
}

@media (max-width: 480px) {
  #hero {
    background-position: 10% -3.125rem;
  }
}

@media (max-width: 400px) {
  #hero {
    background-position: 10% -4.375rem;
  }
}

@media (max-width: 370px) {
  #hero {
    background-position: 10% -5.9rem;
  }
}

@media (min-width: 890px) {
  #hero {
    background-position: 27rem 45%;
  }
}

@media (min-width: 1050px) {
  #hero {
    background-position: 32rem 45%;
  }
}

@media (min-width: 1200px) {
  #hero {
    background-position: 37rem 45%;
  }
}

@media (min-width: 1350px) {
  #hero {
    background-position: 42rem 45%;
  }
}

@media (min-width: 1550px) {
  #hero {
    background-position: 47rem 45%;
  }
}

@media (min-width: 1900px) {
  #hero {
    background-position: 57rem 45%;
  }
}

@media (min-width: 2100px) {
  #hero {
    background-position: 67rem 45%;
  }
}

@layer components {
  .btn {
    @apply rounded-full bg-gradient-to-r from-limeGreen to-brightCyan duration-200 hover:opacity-80 text-white px-6 py-3 cursor-pointer block;
  }
}

@layer base {
  h1 {
    @apply text-darkBlue text-3xl tracking-wider;
  }

  p {
    @apply text-grayishBlue mb-10 font-sans;
  }

  h2 {
    @apply text-darkBlue text-xl tracking-wide mb-8;
  }

  h3 {
    @apply text-darkBlue md:text-lg tracking-normal mb-3 lg:text-sm;
  }
}

.favcon:hover {
  filter: invert(60%) sepia(80%) saturate(804%) hue-rotate(80deg)
    brightness(121%) contrast(90%);
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: hsl(233, 26%, 24%);
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

#menu {
  background-color: rgba(255, 255, 255, 0.9);
}
